
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:100%;
}

.titulo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.menu{
    padding: 20px;
    text-align: center;
    background-color: #F0B429;
    width: 100%;
    margin: 40px auto;
    text-decoration: none;
    font: bold 16px;
    padding: 12px 20px 12px 20px;
    border-bottom:9px solid transparent;
    transition:border-bottom .7s;
    -webkit-transition: border-bottom .7s;
    --transition: border-bottom .7s;
    transition: border-bottom .7s;
}

.menuCSS3 ul {
    display: flex;
    padding: 0;
    text-align: center;
    margin: 0;
    list-style: none;
}
.menuCSS3 a {
    display: block;
    padding: 2em;
    background-color: #F0B429;
    text-decoration: none;
    color: #191C26;
    padding: 20px 80px 20px 30px;
}
.menuCSS3 a:hover {
    background-color: #CC673B;
}
.menuCSS3 ul li ul {
    display: none;
}
.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
    display: block;
}

.banner{
align-content: center;
}


}
.tabla{
    width: 80%;
    margin: 40pt;
}